:root {
    --amarelo: #F2B90C;
    --azul: #0A3871;
    --branco: #FFFFFF;
    --preto: #000000;
    --vermelho: #EC1313;
    --roxo: #5B13EC;
    --verde: #298d29;
    --fonte: 'Orbitron', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--fonte);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--amarelo);
    font-size: 18px;
}

header {
    height: 10vh;
}

.logo {
    margin: 10px 0 0 20px;
    padding: 20px;
}

main {
    height: 80vh;
}

.container {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.principal {
    width: 50vw;
    height: 80%;
}

.texto-principal {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    resize: none;
    outline: none;
    border: none;
    background-color: var(--amarelo);
    padding: 1em;
}

.aviso-principal {
    margin: 10px auto;
    text-align: center;
}

.aviso-principal:before {
    content: "❗";
}

.aviso-destaque {
    font-weight: bold;
    color: purple;
    font-size: 1.1em;
}

.botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    font-weight: bold;
    font-size: 1.4em;
    width: 60%;
    color: var(--branco);
    border: 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--preto);
    margin: 12px;
    padding: 30px;
}

.btn:hover {
    transform: translateY(-10px);
}

.btn-criptografar {
    background-color: var(--azul);
}

.btn-descriptografar {
    background-color: var(--vermelho);
}

.mensagem {
    width: 35vw;
    height: 100%;
    text-align: center;
    padding: 2em;
    border-radius: 35px;
    box-shadow: 10px 10px 100px var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -10vh;
}

.mensagem-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.imagem-mensagem {
    width: 90%;
    height: 40%;
    margin-bottom: 15%;
    margin-top: -10%;
}

.titulo-mensagem {
    font-size: 2em;
    margin-bottom: 10%;
}

.texto-mensagem {
    font-size: 1.6em;
}

.mensagem-final {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.texto-mensagem-final {
    font-size: 1.4em;
    padding: 10px;
}

.btn-copiar {
    font-weight: bold;
    font-size: 1.4em;
    width: 60%;
    color: var(--branco);
    border: 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--preto);
    margin: 12px;
    padding: 30px;
    background-color: var(--verde);
}

.btn-copiar:hover {
    transform: translateY(-10px);
}

.ocultar {
    display: none;
}

footer {
    height: 10vh;
    background-color: var(--azul);
}

.texto-footer {
    color:var(--branco);
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
    margin: 15px 0 ;
}

.link-footer {
    box-sizing: border-box;
    color: var(--branco);
    text-decoration: none;
    font-style: italic;
    text-shadow: 3px 3px 5px var(--vermelho);
}

.link-footer:hover {
    color: var(--amarelo);
    text-shadow: 1px 1px 10px var(--branco);
}


/* Tablet */
@media only screen and (max-width : 875px) {
    .logo {
        padding: 10px;
    }

    .container {
        flex-direction: column;
    }

    .principal {
        width: 100%;
        height: 55%;
    }

    .texto-principal {
        font-size: 1.2em;
    }

    .btn {
        width: 90%;
        padding: 15px;
        font-size: 1.1em;
    }

    .mensagem {
        width: 90%;
        height: 35%;
        margin: 10px;
    }

    .imagem-mensagem {
        display: none;
    }

    .titulo-mensagem {
        font-size: 1.6em;
    }

    .texto-mensagem {
        font-size: 1.3em;
        margin-top: 5px;
    }

    .texto-mensagem-final {
        font-size: 1.2em;
        padding: 0;
    }

    .btn-copiar {
        font-size: 1.2em;
        width: 40%;
        margin: 0;
        padding: 10px;
    }
}

/* Smart Phone */
@media only screen and (max-width : 495px) {
    .logo {
        padding: 5px;
    }
    
    .btn {
        font-size: 1em;
    }

    .titulo-mensagem {
        font-size: 1.3em;
    }

    .texto-mensagem {
        font-size: 1em;
        margin-top: 2px;
    }

    .texto-mensagem-final {
        font-size: 16px;
    }

    .btn-copiar {
        font-size: 1em;
        width: 30%;
        padding: 5px;
    }

    .texto-footer {
        font-size: 18px;
    }
}

@media only screen and (max-width : 390px) {
    .logo {
        padding: 2px;
    }

    .container {
        justify-content: space-between;
    }

    .aviso-principal {
       font-size: 0.8em;
    }
    
    .botoes {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .btn {
        padding:2px;
        margin: 10px;
    }

    .mensagem {
        height: 30%;
        padding: 0.5em;
        margin-top: 10px;
    }

    .titulo-mensagem {
        font-size: 1.3em;
    }
    
    .texto-mensagem {
        font-size: 1em;
    }

    .btn-copiar {
        font-size: 1em;
        width: 30%;
        padding: 2px;
    }

    .texto-footer {
        font-size: 16px;
        margin: 5px;
    }
}




